/*Ho usato i margin dotted per rendere più chiare le sezioni */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

a{
   text-decoration: none;
}

p,h1,h2,h3,span{
   color: rgb(51, 71, 91);
}

header{
   background-color: rgb(244, 249, 253);
}

header::after{
   content: '';
   clear: both;
   display: table;
}

.container-header{
   width: 70%;
   margin: auto;
   height: 100%;
}

.header-left-content a {
   color: rgb(51, 71, 91);
}

.header-left-content span{
   display: inline-block;
   margin: 0 15px;
}

.language{
   border: none;
   background-color: inherit;
   color: rgb(51, 71, 91);
   font-size: 15px;
}

.loginbutton{
   border-color: rgb(254, 119, 90);
   border-radius: 5%;
   padding: 10px;
   background-color: white;
   color: rgb(254, 119, 90);
   font-weight: bold;
   margin: 0 15px;

}

.getfreebutton{
   border-radius: 5%;
   padding: 10px;
   background-color: rgb(254, 119, 90);
   color: white;
   font-weight: bold;
   border-color: rgb(254, 119, 90);
}

.header-left{
   width: 50%;
   height: 100px;
   float: left;
}

.header-left-content{
   line-height: 100px;
}

.header-right{
   width: 50%;
   height: 100px;
   float: left;
}
.header-right-content{
   line-height: 100px;
   float: right;
}

.container-nav{
   width: 70%;
   height: 100%;
   margin: auto;
}

.nav-left{
   width: 50%;
   height: 100px;
   float: left;
}

.nav-left-content {
   position: relative;
   height:100%;
}

.nav-left img{
   width: 150px;
   height: 75px;
   position: absolute;
   top: 50%;
   transform: translate(0,-50%);
}

.nav-right{
   width: 50%;
   height: 100px;
   float: left;
}

.nav-right-content{
   line-height: 100px;
   float:right;
}

.choices{
   border: none;
   background-color: inherit;
   color: rgb(51, 71, 91);
   font-size: 15px;
}

.nav-right-content a{
  margin: 0 20px;
  display: inline-block;
}

.nav-right-content .choices:nth-child(4) {
  margin: 0 20px;
  display: inline-block;
}

nav::after{
   content: '';
   clear: both;
   display: table;
}

.introduction{
   background-color: rgb(255, 244, 239);
}

.container-introduction{
   width: 70%;
   height: 100%;
   margin: auto;
}

.box-introduction{
   width: 50%;
   height: 100%;
}

.box-introduction h1{
   font-size: 60px;
   padding-top: 40px;
}

.box-introduction p{
   margin: 30px 0;
}

.box-introduction:last-child{
   padding-bottom: 40px;
}

.getfreebutton2{
   border-radius: 5%;
   padding: 20px 40px;
   background-color: rgb(254, 119, 90);
   color: white;
   font-weight: bold;
   border-color: rgb(254, 119, 90);
}

.split{
   height: 100px;
   background-color: rgb(175, 235, 228);
   border-color: rgb(51, 71, 91);
   border: 2px solid;
}

main{
   background-color: rgb(244, 249, 253);
}

.container-main{
   width: 70%;
   height: 100%;
   margin: auto;
}

.box-slogan{
   width: 100%;
   text-align: center;
}

.slogan-content{
   padding-top: 40px;
}

.slogan-content img{
   width: 200px;
   height: 200px;
}

.slogan-content h2{
   font-size: 40px;
}

.slogan-content p{
   margin: 40px 0;
}

.box-crm{
   width: 100%;
   background-color: white;
   height: 250px;
   margin-top: 20px;
   border-radius: 2%;
}

.logo-crm{
   width: 30%;
   float: left;
   height: 100%;
   position: relative;
}

.learnbutton{
   border-radius: 5%;
   padding: 15px 35px;
   background-color: rgb(254, 119, 90);
   color: white;
   font-weight: bold;
   border-color: rgb(254, 119, 90);
}

.logo-crm-container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);

}

.logo-crm-container img{
   width: 150px;
   height: 100px;
}

.text-crm{
   width: 70%;
   height: 100%;
   float: left;
   position: relative;
}

.text-crm h3{
   font-size: 30px;
}

.text-crm p{
   margin: 15px 0;
}

.texthr{
   color: rgb(51, 71, 91);
   font-size: 20px;
   margin-bottom: 15px;
}

.hr-inline{
   display: inline-block;
   width: 500px;
   margin: 0 50px;
}

.text-crm span{
   display: inline-block;
   margin-right: 15px;
}

.fa-check-circle{
   color: rgb(254, 119, 90);
}

.text-crm-container{
   position: absolute;
   top:50%;
   transform: translate(0, -50%);
}

.container-utility{
   margin-bottom: 20px;
   margin-top: 20px;
   text-align: center;
}

.box-marketing{
   width: 30%;
   background-color: white;
   float: left;
   margin-bottom: 20px;
   margin-top: 20px;
   padding: 20px 40px;
   border-radius: 2%;
}

.container-utility h3{
   margin-top: 20px;
}

.box-marketing p, .box-sales p, .box-hub p{
   margin: 20px 0;
}

.container-utility hr{
   margin-top: 40px;
   margin-bottom: 20px;
}

.align-left{
   text-align: left;
   margin: 20px 0;
}

.box-sales{
   width: 30%;
   background-color: white;
   float: left;
   margin: 0 5%;
   margin-bottom: 20px;
   margin-top: 20px;
   padding: 20px 40px;
   border-radius: 2%;

}.box-hub{
   width: 30%;
   background-color: white;
   float: left;
   margin-bottom: 20px;
   margin-top: 20px;
   padding: 20px 40px;
   border-radius: 2%;
}

.container-utility::after{
   content: '';
   clear: both;
   display: table;
}

.container-main::after{
   content: '';
   clear: both;
   display: table;
}

.statistics{
   background-color: rgb(0, 171, 184);
   padding: 20px 0 40px;
}

.container-statistics{
   width: 70%;
   height: 100%;
   margin: auto;
}

.box-statistics-top{
   height: 30%;
   text-align: center;
}

.box-statistics-top h2{
   font-size: 30px;
   color: white;
}

.box-statistics-top p{
   color: white;
   margin: 20px 0;
}

.box-statistics-bottom{
   height: 70%;
}

table{
   table-layout: fixed;
   width: 100%;
   height: 100%;
   margin: 50px 0 20px;
   color: white;
}

table h2, table span{
   color: white;
}

table h2{
   font-size: 35px;
   margin-top: 15px;
}

table tr:nth-child(1) td:nth-child(1) {
   border-right: 1px solid white;
   border-bottom: 1px solid white;
}
table tr:nth-child(1) td:nth-child(2) {
   border-right: 1px solid white;
   border-bottom: 1px solid white;
}
table tr:nth-child(1) td:nth-child(3) {
   border-right: 1px solid white;
   border-bottom: 1px solid white;
}
table tr:nth-child(1) td:nth-child(4) {
   border-bottom: 1px solid white;
}
table tr:nth-child(2) td:nth-child(1) {
   border-right: 1px solid white;
}
table tr:nth-child(2) td:nth-child(2) {
   border-right: 1px solid white;
}
table tr:nth-child(2) td:nth-child(3) {
   border-right: 1px solid white;
}

table td {
  text-align: center;
  vertical-align: middle;
  padding: 20px 50px;
}

.statistics::after{
   content: '';
   clear: both;
   display: table;
}

.commercial{
   padding-top: 20px;

}
.container-commercial{
   width: 70%;
   height: 100%;
   margin: auto;
}

.box-commercial-left{
   width:40%;
   float: left;
   text-align: center;
}

.big-number{
   font-size: 30px;
   color: rgb(51, 71, 91);
}

.box-commercial-right{
   width:60%;
   float: left;
}

.fa-id-card-o{
   margin-right: 15px;
   width: 150px;
}

.commercial::after{
   content: '';
   clear: both;
   display: table;
}

.container-join-us{
   width: 70%;
   height: 100%;
   margin: auto;
   margin-top: 50px;
}

.box-join-us-left{
   width:50%;
   float: left;
}

.box-join-us-left h2{
   font-size: 35px;
}

.box-join-us-left p{
   margin: 40px 0;
}

.box-join-us-right{
   width:50%;
   float: left;
   text-align: center;
}

.donna{
   width: 200px;
   height: 200px;
   background-image: url('../img/donna.jpg');
   background-size: cover;
   margin: auto;
}

.join-us::after{
   content: '';
   clear: both;
   display: table;
}

footer{
   background-color: rgb(50, 73, 91);
}

.container-footer{
   width: 70%;
   margin: auto;
}

.box-footer-top{
   padding-top: 20px;
}

.box-footer-top:after{
   content: '';
   clear: both;
   display: table;
}

.box-footer-top .box{
   width: 25%;
   float: left;
   line-height: 40px;
}

.supportbutton{
   border-radius: 5%;
   padding: 10px;
   background-color: rgb(218, 222, 224);
   color: rgb(50, 73, 91);
   font-weight: bold;
}

.box.support .fa{
   margin-right: 20px;
   color:rgb(210, 214, 219);
}

.traffic span, .connect span, .manage span, .support span{
   color:white;
}

footer a {
   color:rgb(210, 214, 219);
}

.box-footer-middle{
   text-align: center;
   margin-top: 40px;
}

.box-footer-middle hr{
   color: rgb(210, 214, 219);
}

.box-footer-middle a {
   display: inline-block;
   margin: 0 15px 15px 0;
}

.box-footer-bottom{
   margin-bottom: 30px;
}

.box-footer-bottom:after{
   content: '';
   clear: both;
   display: table;
}

.box-footer-bottom-left img{
   width: 150px;
   height: 75px;
}

.box-footer-bottom-left{
   float: left;
}

.box-footer-bottom-left span{
   color: rgb(210, 214, 219);
}

.box-footer-bottom-right{
   float: right;
   padding-top: 20px;
}

.box-footer-bottom-right a {
   display: inline-block;
   margin-right:15px;
}


footer::after{
   content: '';
   clear: both;
   display: table;
}
